---
layout: layouts/home.njk
eleventyNavigation:
  key: Resume
  order: 3
---

<h1 class="text-5xl font-black pb-8">Resume & Skills</h1>

<button class="text-lg text-white rounded-lg bg-gray-500 px-2 shadow-md focus:ring">Download PDF</button>